NODE_ENV=development

REST_PORT=3006
GRPC_PORT=50056

DB_HOST=localhost
DB_PORT=5434
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=base_datos_notificaciones

SMTP_HOST=correoproduccion.gmail.com
SMTP_PORT=465
SMTP_USER=change_me@gmail.com
SMTP_PASS=change_me
SMTP_FROM="AGM System <no-reply@agm.com>"
SMTP_SECURE=true

EMAIL_DRY_RUN=false
EMAIL_REAL_SEND_ENABLED=false
EMAIL_MAX_RECIPIENTS_PER_REQUEST=3
EMAIL_ALLOWLIST_ENABLED=true
EMAIL_ALLOWLIST=correo1@gmail.com,correo2@gmail.com

PROTO_NOTIFICACIONES_PATH=../../proto/notificaciones.proto