NODE_ENV=development

REST_PORT=3001
GRPC_PORT=50051

DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=nombre_basedatos_microservicio

JWT_SECRET=change_me
JWT_EXPIRES_IN=1h

JWT_REFRESH_SECRET=change_me_refresh
JWT_REFRESH_EXPRIRES_IN=7d 

PASSWORD_RESET_EXPIRES_MINUTES=15

PROTO_AUTH_PATH=../../proto/auth.proto

NOTIFICACIONES_GRPC_URL=localhost:50056
PROTO_NOTIFICACIONES_PATH=../../proto/notificaciones.proto
RESET_PASSWORD_BASE_URL=http://localhost:4200/reset-password

